.red{
    background-color: red;
    color: #fff;
}
.blue{
    color: #fff;
    background-color: blue;
}
.yellow{
    color: #000;
    background-color: yellow;
}
.green{
    color: #fff;
    background-color: green;
}
.purple{
    color: #fff;
    background-color: purple;
}
.orange{
    color: #fff;
    background-color: orange;
}
.white{
    color: #000;
    background-color: white;
}
.black{
    color: #fff;
    background-color: black;
}

.bg-danger {
    background-color: #f2dede;
}

.bg-primary {
    color: #fff;
    background-color: #337ab7;
}

.alert {
    padding: 15px; 
    margin-bottom: 20px; 
    border: 1px solid transparent; 
    border-radius: 4px;
}

.alert-danger {
    color: #a94442; 
    background-color: #f2dede; 
    border-color: #ebccd1; 
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

blockquote{
    color: #555 !important;
    padding: 10px 20px !important;
    margin: 0 0 20px !important;
    border-left: 5px solid #eee !important;
    vertical-align: unset !important;
    border-radius: 0 !important;
}

.col-five {
    flex: 0 0 19.99999%;
    max-width: 19.99999%;
  }

  